command=op

if ! [ -x "$(command -v op)" ]; then
	command="op.exe"
fi

export AWS_ACCESS_KEY_ID="$(${command} item get "Terraform Basics" --fields "Access Key ID")"
export AWS_SECRET_ACCESS_KEY="$(${command} item get "Terraform Basics" --fields "Access Key Secret")"
export AWS_REGION="$(${command} item get "Terraform Basics" --fields "Region")"

export TF_VAR_openai_key="$(${command} item get "Terraform Basics" --fields "API Key")"

echo "$(${command} item get "Github" --fields "public key")" > /tmp/id_rsa.pub
export TF_VAR_ssh_pub_key="/tmp/id_rsa.pub"