export ARM_CLIENT_ID="$(op item get "Terraform Basics" --fields "Client ID")"
export ARM_SUBSCRIPTION_ID="$(op item get "Terraform Basics" --fields "Subscription ID")"
export ARM_TENANT_ID="$(op item get "Terraform Basics" --fields "Tenant ID")"
export ARM_CLIENT_SECRET="$(op item get "Terraform Basics" --fields "Client Secret")"
export TF_VAR_ssh_pub_key="$(op item get "Github" --fields "public key")"